*, html, body{
	margin: 0px;
	padding: 0px;
}
footer{
	height: 40px;
	width: 100%;
	border-top: 1px dotted #000;
}
#content{
	min-height: calc(100vh - 61px); /*100vh = 100% / 41 = footer+border*/
	background-color: rgba(222, 220, 203, 0.2);
	overflow-y: auto;
	padding: 10px;
}
.grafic_container{
	width: 60%;
	min-width: 600px;
	height: 160px;
	background-color: #fff;
	border: 1px solid #000;
}
#div_generate{
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
}
#div_generate::-webkit-scrollbar{
width:12px;
height: 12px;
background-color:rgba(222, 220, 203, 0.2);
} 
#div_generate::-webkit-scrollbar-thumb{
background-color:#fff;
border:1px solid #333333;
border-radius:2px;
}
#div_generate::-webkit-scrollbar-thumb:hover{
background-color:grey;
border:1px solid #333333;
}
#div_generate::-webkit-scrollbar-thumb:active{
background-color:rgba(222, 220, 203, 0.2);
border:1px solid #333333;
} 
#div_generate::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:0px;
-webkit-box-shadow:0 0 6px rgb(192, 168, 255) inset;
} 


.svg:hover{
	cursor: pointer;
}
#div_eventinfo{
	width:150px;
	height: 170px;
	border: 1px solid #000;
	padding: 2px;
	margin-left: 3px;
	overflow: hidden;
}
#div_eventremarks{
	width: 100%;
	max-height: 90px;
	overflow-y: auto; 
	border-top: 0.5px solid #000;
}